body {
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
}

#list li {
  display: inline-block;
  padding: 20px;
}

.first-li {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.list {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 45px;
  background-color: rgba(177, 118, 92, 0.3);
  border-radius: 15px;
  border-color: #060A26;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  height: auto;
  width: auto;
  margin-bottom: 80px;
}

.name-box {
  height: 600px;
  background-color: rgba(239, 113, 11, 0.3);
  border-radius: 15px;
  border-color: #060A26;
  border-width: 5px;
  border-style: solid;
  text-align: center;
  margin-bottom: 80px;
  width: auto;
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgba(255, 255, 255, 0.3);
  font-size: 75px;
  text-align: center;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #08B691;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

i {
  color: #08B691;
  margin: 0px 0px 0px -5px;
}

.jeanette {
  height: 350px;
  width: auto;
  border-radius: 15px;
  border-width: 5px;
  border-color: #060A26;
  border-style: solid;
}

.container {
  margin: 30px;
  font-size: 20px;
}

.head-three {
  font-weight: 600;
  color: #08B691;
}

.project-imgs {
  width: 300px;
  height: auto;
  float: left;
  margin: 0px 30px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #060A26;
}

h2 {
  text-align: center;
  font-weight: 600;
}

.about {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px;
  min-height: 500px;
  width: auto;
  line-height: 35px;
  border-radius: 15px;
  border-width: 5px;
  border-color: #060A26;
  border-style: solid;
}

.fa-arrow-circle-up {
  padding: 10px;
}

#me {
  height: 300px;
  width: auto;
  float: right;
  border-radius: 15px;
  border-width: 5px;
  border-color: #060A26;
  border-style: solid;
  margin: 15px;
}

.projects {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 25px;
  line-height: 35px;
  border-radius: 15px;
  border-width: 5px;
  border-color: #060A26;
  border-style: solid;
}

#about-box {
  margin-bottom: 80px;
  clear: both;
}

footer {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding: 30px;
}

footer>img {
  height: 50px;
  width: auto;
  padding: 5px;
}

#tic-list {
  list-style: circle;
  margin-left: 25px;
}

.single {
  min-height: 250px;
}


@media (max-width: 500px) {
  .first-li {
    display: block;
    width: 50px;
  }
  .jeanette {
    height: 150px;
    width: auto;
  }
  #me {
    height: 150px;
    width: auto;
  }
  .project-imgs {
    width: 150px;
    height: auto;
  }
}
